<!-- begin here is head section -->
{% block head %}
{% include 'templates/includes/head/head.html' %}
{% endblock %}

<body class="index-page">

  <!-- begin here is header section -->
  {% block header %}
  {% include 'templates/includes/head/header.html' %}
  {% endblock %}

  <!-- header end -->
  {% block content %}
  <!-- WHRITE CONTENT -->
  {% endblock %}


  <!-- Section begin For Footer -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe">
              </div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class="d-flex align-items-center">
            <span class="sitename">FlexStart</span>
          </a>
          <div class="footer-contact pt-3">
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Follow Us</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">FlexStart</strong> <span>All Rights Reserved</span></p>
      <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a
          href=“https://themewagon.com>ThemeWagon
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/jisr_almaharat/site_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/jisr_almaharat/site_assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/jisr_almaharat/site_assets/vendor/aos/aos.js"></script>
  <script src="/assets/jisr_almaharat/site_assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/jisr_almaharat/site_assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/jisr_almaharat/site_assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/assets/jisr_almaharat/site_assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/jisr_almaharat/site_assets/vendor/swiper/swiper-bundle.min.js"></script>
  {% block script%}{% endblock %}
  <!-- Main JS File -->
  <script src="/assets/jisr_almaharat/site_assets/js/main.js"></script>
  <!-- <script src="/assets/jisr_almaharat/site_assets/js/main.js"></script> -->
  <script src="/assets/jisr_almaharat/www/js/jobDetails.js"></script>

  <!-- start code Frappy Resorces footer CSS and File -->
  <script type="text/javascript" src="/assets/frappe/dist/js/libs.bundle.LLRFRX7M.js"></script>
  <script type="text/javascript" src="/assets/frappe/dist/js/desk.bundle.2IFOND6P.js"></script>
  <script type="text/javascript" src="/assets/frappe/dist/js/list.bundle.ISZURXE6.js"></script>
  <script type="text/javascript" src="/assets/frappe/dist/js/form.bundle.AI6Z24LU.js"></script>
  <script type="text/javascript" src="/assets/frappe/dist/js/controls.bundle.6RQE6LT7.js"></script>
  <script type="text/javascript" src="/assets/frappe/dist/js/report.bundle.PJRT22DR.js"></script>
  <script type="text/javascript" src="/assets/frappe/dist/js/telemetry.bundle.R3LXKXJ3.js"></script>
  <script>frappe.csrf_token = "{{frappe.session.csrf_token}}";</script>

</body>

</html>